<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="onion.w4v3xrmknycexlsd.app.hypercampus">

    <application
        android:name=".HyperApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name=".HyperActivity"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:host="*" android:mimeType="*/*"
                    android:pathPattern=".*\\.md" android:scheme="file" />
                <data android:host="*" android:mimeType="*/*"
                    android:pathPattern=".*\\.md" android:scheme="content" />
                <data android:host="*" android:mimeType="*/*"
                    android:pathPattern=".*\\.md" android:scheme="http" />
                <data android:host="*" android:mimeType="*/*"
                    android:pathPattern=".*\\.md" android:scheme="https" />
                <data android:host="*" android:mimeType="*/*"
                    android:pathPattern=".*\\.hcmd" android:scheme="file" />
                <data android:host="*" android:mimeType="*/*"
                    android:pathPattern=".*\\.hcmd" android:scheme="content" />
                <data android:host="*" android:mimeType="*/*"
                    android:pathPattern=".*\\.hcmd" android:scheme="http" />
                <data android:host="*" android:mimeType="*/*"
                    android:pathPattern=".*\\.hcmd" android:scheme="https" />
                <data android:host="*" android:mimeType="*/*"
                    android:pathPattern=".*\\.zip" android:scheme="file" />
                <data android:host="*" android:mimeType="*/*"
                    android:pathPattern=".*\\.zip" android:scheme="content" />
                <data android:host="*" android:mimeType="*/*"
                    android:pathPattern=".*\\.zip" android:scheme="http" />
                <data android:host="*" android:mimeType="*/*"
                    android:pathPattern=".*\\.zip" android:scheme="https" />
                <data android:host="*" android:mimeType="*/*"
                    android:pathPattern=".*\\.hczip" android:scheme="file" />
                <data android:host="*" android:mimeType="*/*"
                    android:pathPattern=".*\\.hczip" android:scheme="content" />
                <data android:host="*" android:mimeType="*/*"
                    android:pathPattern=".*\\.hczip" android:scheme="http" />
                <data android:host="*" android:mimeType="*/*"
                    android:pathPattern=".*\\.hczip" android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/md"/>
                <data android:mimeType="application/hcmd"/>
                <data android:mimeType="application/zip" />
                <data android:mimeType="application/hczip" />
                <data android:mimeType="application/octet-stream" android:scheme="content"/>
            </intent-filter>
        </activity>
    </application>

</manifest>